.home-content{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;

.text-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
   
}
}

.text-subtitle{
    margin-top: 24px;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    width: 612px;

}